@charset "UTF-8";

@font-face {
    font-family: 'Passion';
    src: url('../fontes/passion-one-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sriracha';
    src: url('../fontes/sriracha-regular.ttf') format('truetype');
}
:root {
    --fonte-padrao: verdana, geneva, tahoma, sans-serif;
    --fonte-cabecalho: 'Passion', cursive;
    --fonte-corpo: 'Sriracha', cursive;
}


* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte-padrao);
    min-width: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-cabecalho);
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte-corpo);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    }

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(27, 27, 27);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.418);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;  
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}