@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #731F35, #592533 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #240f158e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F23064;
    text-align: center;
    text-shadow: 1px 1px 2px #1d0c108c;
}

h2 {
    color: #8C3253; 
}

p {
    text-align: justify;
}